In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')

# Show the first 5 rows
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [3]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [7]:
df.nunique()

customerID          7043
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1585
TotalCharges        6531
Churn                  2
dtype: int64

In [8]:
df['SeniorCitizen'].value_counts()

SeniorCitizen
0    5901
1    1142
Name: count, dtype: int64

In [9]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [13]:
print(df['TotalCharges'].unique()[:500])  # Show unique values to spot weird ones like ' '

['29.85' '1889.5' '108.15' '1840.75' '151.65' '820.5' '1949.4' '301.9'
 '3046.05' '3487.95' '587.45' '326.8' '5681.1' '5036.3' '2686.05'
 '7895.15' '1022.95' '7382.25' '528.35' '1862.9' '39.65' '202.25' '20.15'
 '3505.1' '2970.3' '1530.6' '4749.15' '30.2' '6369.45' '1093.1' '6766.95'
 '181.65' '1874.45' '20.2' '45.25' '7251.7' '316.9' '3548.3' '3549.25'
 '1105.4' '475.7' '4872.35' '418.25' '4861.45' '981.45' '3906.7' '97'
 '144.15' '4217.8' '4254.1' '3838.75' '1426.4' '1752.65' '633.3' '4456.35'
 '1752.55' '6311.2' '7076.35' '894.3' '7853.7' '4707.1' '5450.7' '2962'
 '957.1' '857.25' '244.1' '3650.35' '2497.2' '930.9' '887.35' '49.05'
 '1090.65' '7099' '1424.6' '177.4' '6139.5' '2688.85' '482.25' '2111.3'
 '1216.6' '79.35' '565.35' '496.9' '4327.5' '973.35' '918.75' '2215.45'
 '1057' '927.1' '1009.25' '2570.2' '74.7' '5714.25' '7107' '7459.05'
 '927.35' '4748.7' '113.85' '1107.2' '2514.5' '19.45' '3605.6' '3027.25'
 '7611.85' '100.2' '7303.05' '927.65' '3921.3' '1363.25' '5238.9'
 '3042.25' '3954.1' '2868.15' '3423.5' '248.4' '1126.35' '1064.65'
 '835.15' '2151.6' '5515.45' '112.75' '229.55' '350.35' '62.9' '3027.65'
 '2135.5' '1723.95' '19.75' '3985.35' '1215.65' '1502.65' '3260.1' '35.45'
 '81.25' '1188.2' '1778.5' '1277.75' '1170.55' '70.45' '6425.65' '563.65'
 '5971.25' '5289.05' '1756.2' '6416.7' '61.35' '45.65' '1929.95' '1071.4'
 '564.35' '655.5' '7930.55' '5215.25' '113.5' '1152.8' '1821.95' '419.9'
 '1024' '251.6' '764.55' '1592.35' '135.2' '3958.25' '233.9' '1363.45'
 '273' '6254.45' '2651.2' '321.4' '3539.25' '242.8' '1181.75' '5000.2'
 '654.55' '780.2' '1145.7' '503.6' '1559.25' '1252' '29.95' '45.3'
 '662.65' '2453.3' '1111.65' '24.8' '1023.85' '82.15' '244.8' '2379.1'
 '3173.35' '531' '1375.4' '8129.3' '1192.7' '1901.65' '587.4' '6519.75'
 '8041.65' '20.75' '2681.15' '1112.3' '7405.5' '1033.95' '2958.95'
 '2684.85' '4179.2' '79.9' '1934.45' '6654.1' '84.5' '25.25' '1124.2'
 '540.05' '1975.85' '3437.45' '3139.8' '3789.2' '5324.5' '624.6' '268.35'
 '1836.9' '179.35' '219.35' '1288.75' '2545.75' '55.2' '2723.15' '4107.25'
 '5760.65' '4747.5' '84.6' '1566.9' '702' '114.1' '299.05' '1305.95'
 '1120.3' '284.35' '6350.5' '7878.3' '3187.65' '6126.15' '731.3' '273.4'
 '2531.8' '1074.3' '48.55' '4298.45' '4619.55' '147.15' '40.2' '2633.3'
 '193.05' '4103.9' '7008.15' '5791.1' '80.55' '1228.65' '132.2' '1364.3'
 '4925.35' '1520.1' '5032.25' '5526.75' '1195.25' '2007.25' '1099.6'
 '1732.95' '1511.2' '3450.15' '2172.05' '70.6' '401.1' '5624.85' '1339.8'
 '771.95' '244.75' '322.9' '498.25' '25.4' '3687.75' '1779.95' '1783.6'
 '927.15' '70' '606.55' '435.4' '1712.7' '2021.2' '1940.8' '567.8'
 '220.35' '20.25' '5436.45' '3437.5' '3015.75' '73.6' '1509.8' '396.1'
 '356.65' '4109' '3141.7' '1229.1' '2303.35' '2054.4' '3741.85' '3682.45'
 '19.25' '1886.25' '4895.1' '341.6' '415.55' '5686.4' '1355.1' '3058.65'
 '2231.05' '3236.35' '4350.1' '4264' '44.8' '422.3' '4176.7' '5138.1'
 '880.05' '139.05' '973.65' '1470.05' '739.35' '161.95' '4422.95' '511.25'
 '155.8' '5293.95' '4759.85' '6148.45' '3565.65' '6603' '1830.1' '6223.8'
 '4508.65' '1328.15' '865' '72.1' '168.2' '1303.5' '996.85' '6430.9'
 '2278.75' '681.4' '574.35' '371.9' '840.1' '846' '889' '6823.4' '805.1'
 '4016.75' '83.75' '3959.15' '2878.55' '945.7' '1373.05' '492.55' '1406'
 '19.15' '6962.85' '8126.65' '690.25' '181.5' '830.8' '5608.4' '3646.8'
 '3662.25' '25.35' '2566.5' '5308.7' '1410.25' '3339.05' '50.65' '4732.35'
 '90.85' '5067.45' '214.75' '4874.7' '2348.45' '4063' '44' '2595.25'
 '2309.55' '89.3' '367.55' '3944.5' '5965.95' '3694.7' '2524.45' '1803.7'
 '415.1' '624.15' '237.7' '7007.6' '3848.8' '419.4' '1468.75' '5812'
 '2861.45' '19.9' '19.6' '233.7' '1066.15' '2149.05' '4473' '3545.05'
 '1195.75' '6858.9' '1024.7' '1845.9' '75.3' '132.25' '515.45' '2830.45'
 '1110.5' '449.3' '2838.55' '5376.4' '858.6' '1395.05' '3975.7' '1182.55'
 '4784.45' '119.5' '518.9' '899.45' '1183.8' '720.05' '8468.2' '3161.2'
 '55.05' '1882.55' '5070.4' '6049.5' '1166.7' '2937.65' '6396.45' '69.55'
 '1270.25' '759.55' '7611.55' '1642.75' '1545.4' '3582.4' '2227.1'
 '1417.9' '2494.65' '2768.35' '2369.3' '38' '75.1' '100.9' '1614.05'
 '385.9' '673.25' '8404.9' '2799.75' '6538.45' '6588.95' '868.1' '734.35'
 '330.6' '55' '564.4' '1315.35' '1861.5' '2747.2' '554.05' '453.4' '994.8'
 '225.75' '2145' '1671.6' '8003.8' '680.05' '6130.85' '1415' '6201.95' ' '
 '74.35' '6597.25' '114.15' '139.4' '3902.6' '20.4' '903.6' '1785.65'
 '1397.65' '131.05' '1238.45' '3899.05' '5676' '4543.15' '4326.8']

In [15]:
print(df['TotalCharges'].dtype)
# Try converting again, just to make sure
pd.to_numeric(df['TotalCharges'], errors='coerce').isnull().sum()

object

np.int64(11)

In [16]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

In [17]:
df['TotalCharges'].fillna(df['TotalCharges'].median(), inplace=True)

C:\Users\RickE\AppData\Local\Temp\ipykernel_1492\419782261.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TotalCharges'].fillna(df['TotalCharges'].median(), inplace=True)

In [18]:
print(df['TotalCharges'].dtype)

float64

In [19]:
# Drop customerID (not useful for prediction)
df.drop('customerID', axis=1, inplace=True)

# Convert Churn to binary: Yes â†’ 1, No â†’ 0
df['Churn'] = df['Churn'].map({'Yes': 1, 'No': 0})

In [21]:
print(df.columns)

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [22]:
# Separate features (X) and target (y)
X = df.drop(columns=['Churn'])  # We drop 'Churn' as it's the target
y = df['Churn']  # Target column

In [23]:
from sklearn.model_selection import train_test_split

# Split the data into 80% training and 20% testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Check the shape of the splits
print(f"Training data shape: {X_train.shape}")
print(f"Test data shape: {X_test.shape}")

Training data shape: (5634, 19)
Test data shape: (1409, 19)

In [24]:
print(df['Churn'])

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: Churn, Length: 7043, dtype: int64

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Separate features (X) and target (y)
X = df.drop(columns=['Churn'])
y = df['Churn']

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Identify categorical and numerical columns
numerical_cols = X.select_dtypes(include=['int64', 'float64']).columns
categorical_cols = X.select_dtypes(include=['object']).columns

# Create a preprocessor for scaling numerical data and encoding categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_cols),  # Standardize numerical features
        ('cat', OneHotEncoder(), categorical_cols)   # One-hot encode categorical features
    ])

# Create a pipeline with preprocessing and logistic regression model
log_reg_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', LogisticRegression(max_iter=1000))  # Logistic Regression model
])

# Train the model
log_reg_pipeline.fit(X_train, y_train)

# Make predictions
y_pred = log_reg_pipeline.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Logistic Regression Accuracy: {accuracy:.4f}")

# Confusion Matrix
conf_matrix = confusion_matrix(y_test, y_pred)
print(f"Confusion Matrix:\n{conf_matrix}")

# Classification Report
class_report = classification_report(y_test, y_pred)
print(f"Classification Report:\n{class_report}")

Logistic Regression Accuracy: 0.8211
Confusion Matrix:
[[933 103]
 [149 224]]
Classification Report:
              precision    recall  f1-score   support

           0       0.86      0.90      0.88      1036
           1       0.69      0.60      0.64       373

    accuracy                           0.82      1409
   macro avg       0.77      0.75      0.76      1409
weighted avg       0.82      0.82      0.82      1409

In [28]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Identify categorical and numerical columns
numerical_cols = X.select_dtypes(include=['int64', 'float64']).columns
categorical_cols = X.select_dtypes(include=['object']).columns

# Create a preprocessor with standard scaling for numeric features and one-hot encoding for categorical features
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_cols),  # Standardize numerical features
        ('cat', OneHotEncoder(), categorical_cols)   # One-hot encode categorical features
    ])

# Create a pipeline that first transforms the data and then applies Random Forest
rf_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', RandomForestClassifier(n_estimators=100, random_state=42))
])

# Train the model on the training data
rf_pipeline.fit(X_train, y_train)

# Make predictions on the test set
y_pred_rf = rf_pipeline.predict(X_test)

# Evaluate the model
accuracy_rf = accuracy_score(y_test, y_pred_rf)
conf_matrix_rf = confusion_matrix(y_test, y_pred_rf)
class_report_rf = classification_report(y_test, y_pred_rf)

# Print the results
print(f"Random Forest Accuracy: {accuracy_rf:.4f}")
print("Confusion Matrix:")
print(conf_matrix_rf)
print("Classification Report:")
print(class_report_rf)

Random Forest Accuracy: 0.7970
Confusion Matrix:
[[946  90]
 [196 177]]
Classification Report:
              precision    recall  f1-score   support

           0       0.83      0.91      0.87      1036
           1       0.66      0.47      0.55       373

    accuracy                           0.80      1409
   macro avg       0.75      0.69      0.71      1409
weighted avg       0.78      0.80      0.79      1409